<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">CryptoFlask</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Search</a></li>
      <li><a href="popular">Popular</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</nav>

</body>

<center>
<h2>Search For a Cryptocurrency</h2>
    <br>
<form action="/search" method="POST">
    <input type="text" name="coin_name" maxlength="3">
    <select name="duration">
        <option value="1">1 Day</option>
        <option value="3">7 Days</option>
        <option value="7">1 Week</option>
        <option value="14">2 Weeks</option>
        <option value="30">1 Month</option>
        <option value="90">3 Months</option>
        <option value="180">6 Months</option>
        <option value="365">1 Year</option>
    </select>
    <input type="submit" name="search_bar" value="Search">
</form>
</center>

</body>
</html>